cmake_install.cmake
CMakeCache*
Makefile
bin/CoreData
bin/Data
bin/map
CMake
CMakeFiles/
launch.sh
bin/Resources/Models/States/*
.clang
.codelite
*.lnk
*.json
*.project
*.workspace
*.exe
*.dll
*.cmd
build/
